# SPDX-FileCopyrightText: 2020-2021 Umbrel. https://getumbrel.com
#
# SPDX-License-Identifier: PolyForm-Noncommercial-1.0.0

# Citadel Status Server
# Installed at /etc/systemd/system/citadel-status-server.service

[Unit]
Description=Status Server
Before=citadel-external-storage-sdcard-update.service
Before=citadel-external-storage.service
Before=citadel-startup.service

[Service]
Type=exec
ExecStartPre=/home/citadel/citadel/scripts/citadel-os/status-server/setup
ExecStart=/status-server/status-server
User=root
Group=root
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=status server

[Install]
WantedBy=multi-user.target
