# SPDX-FileCopyrightText: 2020-2021 Umbrel. https://getumbrel.com
#
# SPDX-License-Identifier: PolyForm-Noncommercial-1.0.0

# Citadel Startup Service
# Installed at /etc/systemd/system/umbrel-startup.service

[Unit]
Description=Citadel Startup Service
Requires=umbrel-external-storage.service
After=umbrel-external-storage.service
Requires=umbrel-external-storage-sdcard-update.service
After=umbrel-external-storage-sdcard-update.service
Wants=network-online.target
After=network-online.target
Wants=docker.service
After=docker.service

# This prevents us hitting restart rate limits and ensures we keep restarting
# indefinitely.
StartLimitInterval=0

[Service]
Type=forking
TimeoutStartSec=infinity
TimeoutStopSec=16min
ExecStart=/home/umbrel/umbrel/scripts/start
ExecStop=/home/umbrel/umbrel/scripts/stop
User=root
Group=root
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=citadel startup
RemainAfterExit=yes
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
