<caddy-https-config>

:80 {
	route /api/* {
		uri strip_prefix /api
		reverse_proxy <middleware-ip>:3000
	}

	route /api-v2/* {
		uri strip_prefix /api-v2
		reverse_proxy <manager-ip>:3000
	}

	reverse_proxy <dashboard-ip>:3000
}
